<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutadmin/layout.html :: dynamic(~{::title},~{::body})}">

<head>
<title>PRODUCT MANAGEMENT</title>
</head>
<body ng-controller="productMana">
	<div class="body flex-grow-1 px-3">
		<div class="container-lg">
			<form name="productForm">
				<div class="row">
					<div class="col-5">
						<div class="form-group">
							<label for="productName">Product's Name</label> <input
								ng-model="form.name" type="text" class="form-control mt-2"
								id="productName" required>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="Price">Price</label> <input type="number" required
								ng-model="form.price" class="form-control mt-2" id="Price">
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="Available">Available</label>
							<div class="row mt-3">
								<div class="col-auto">
									<div class="form-check form-check-inline">
										<input class="form-check-input" ng-model="form.available"
											ng-value="true" type="radio" name=available id="conhang">
										<label class="form-check-label" for="conhang">CÒN HÀNG</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" ng-model="form.available"
											ng-value="false" type="radio" name="available" id="hethang">
										<label class="form-check-label" for="hethang">HẾT HÀNG</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-3">
						<div class="form-group">
							<label for="Category">Category</label> <select
								class="form-select mt-2" ng-model="form.category.id"
								aria-label="Default select example">
								<option ng-repeat="cate in categories" ng-value="cate.id">{{cate.name}}</option>
							</select>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="Source">Source</label> <input type="text" required
								ng-model="form.source" class="form-control mt-2" id="Source">
						</div>
					</div>
				</div>
				<div class="mt-4">
					<label for="link" class="form-label">Link</label>
					<textarea class="form-control" id="link" rows="2" required
						ng-model="form.link"></textarea>
				</div>
				<div class="mt-4">
					<label for="details" class="form-label">Product Description</label>
					<textarea class="form-control" id="details" rows="5" required
						ng-model="form.details"></textarea>
				</div>
				<div class="row mt-4">
					<div class="col-3">
						<div class="mb-3">
							<label for="imageInput" class="form-label">Choose Poster</label>
							<input type="file" class="form-control" id="imageInput">
						</div>
						<!-- Div card hiển thị hình ảnh đã chọn -->
						<div class="card">
							<div class="card-body">
								<img src="/assets/images/products/{{form.poster}}" class="img-fluid" id="selectedImage">
							</div>
						</div>
					</div>
					<div class="col">
						<!--thumbnails-->
						<div class="mb-3">
							<label for="imageThumbnails" class="form-label">Choose 3
								Thumbnails</label> <input type="file" class="form-control" 
								id="imageThumbnails" accept="image/*" multiple>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="row" id="selectedThumbnails"></div>
							</div>
						</div>
					</div>
				</div>
				<h4 class="text-center text-success mt-3">{{messageSuccess}}</h4>
				<h4 class="text-center text-danger mt-3">{{messageFailed}}</h4>
				<div class="row-cols-6 d-flex justify-content-between mt-4">
					<button type="submit" class="btn btn-primary mt-4" ng-click="create_btn()" ng-disabled="productForm.$invalid">
						<i class="fa-solid fa-plus"></i> Create
					</button>
					<button type="submit" class="btn btn-success mt-4" ng-click="update_btn()" ng-disabled="productForm.$invalid">
						<i class="fa-solid fa-pen-nib"></i> Update
					</button>
					<button type="submit" class="btn btn-danger mt-4" ng-click="delete(form.id)">
						<i class="fa-solid fa-trash"></i> Delete
					</button>
					<button type="button" class="btn btn-warning mt-4"
						ng-click="reset()">
						<i class="fa-solid fa-broom"></i> Reset
					</button>
				</div>
			</form>
			<br>
			<hr>
			<br>
			<div class="row flex-row-reverse">
				<div class="input-group w-25">
					<input type="search" class="form-control rounded" ng-model="searchInput" id="search"
						placeholder="Search by product's name..." aria-label="Search"
						aria-describedby="search-addon" />
					<button type="button" class="btn btn-outline-primary" ng-click="search()">search</button>
				</div>
			</div>
			<table class="table table-bordered text-center"
				th:if="user.orders.empty">
				<caption
					style="caption-side: top; text-align: center; font-size: 3rem; font-weight: 800;">LIST
					PRODUCTS</caption>
				<thead>
					<tr>
						<th scope="col">Product's Name</th>
						<th scope="col">Price</th>
						<th scope="col">Poster</th>
						<th scope="col">Thumbnails</th>
						<th scope="col">Source</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in items"
						ng-if="$index >= minQuantityProduct && $index < maxQuantityProduct">
						<td>{{product.name}}</td>
						<td>{{formatCurrency(product.price)}}</td>
						<td>{{product.poster}}</td>
						<td>{{product.thumbnail}}</td>
						<td
							style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
							{{product.source}}</td>
						<td><a class="btn btn btn-success"
							ng-click="edit(product.id)">Edit</a> <a
							class="btn btn btn-danger" ng-click="delete(product.id)">Delete</a></td>
					</tr>
				</tbody>
			</table>
			<nav aria-label="...">
				<ul class="pagination justify-content-end">
					<li class="page-item" ng-click="prevPage()"
						style="cursor: pointer;"><a class="page-link">Previous</a></li>
					<li class="page-item pageNumber"
						ng-repeat="pageNum in [].constructor(pageTotal) track by $index" id="{{$index + 1}}"
						style="cursor: pointer;"><a class="page-link"
						ng-click="changePage($index + 1)">{{$index + 1}}</a></li>

					<li class="page-item" ng-click="nextPage()"
						style="cursor: pointer;"><a class="page-link">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<script type="text/javascript" src="/admin/js/api/productMana.js"></script>
	<script>
		
	</script>
	
</body>

</html>