<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html :: dynamic(~{::title},~{::body})}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ERROR</title>
<meta name="keywords" content="HTML5 Template">
<meta name="description" content="4TL">
<meta name="author" content="p-themes">
</head>
<body>
	<div class="wrap-container">
		<div class="image-bg-body"></div>
		<main class="main">
			<div class="error-content text-center"
				style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
				<div class="container">
					<h1 class="error-title">Error 404</h1>
					<!-- End .error-title -->
					<p>We are sorry, the page you've requested is not available.</p>
					<a href="index.html"
						class="btn btn-outline-primary-2 btn-minwidth-lg"> <span>BACK
							TO HOMEPAGE</span> <i class="icon-long-arrow-right"></i>
					</a>
				</div>
			</div>
		</main>
	</div>
	
	<!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>

</html>