<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html :: dynamic(~{::title},~{::body})}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ABOUT</title>
<meta name="keywords" content="HTML5 Template">
<meta name="description" content="4TL">
<meta name="author" content="p-themes">
</head>
<body>
	<div class="wrap-container">
		<div class="image-bg-body"></div>
		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Pages</a></li>
						<li class="breadcrumb-item active" aria-current="page">About
							us</li>
					</ol>
				</div>
				<!-- End .container -->
			</nav>
			<!-- End .breadcrumb-nav -->
			<div class="container">
				<div class="page-header page-header-big text-center"
					style="background-image: url('assets/images/about-header-bg.jpg')">
					<h1 class="page-title text-white">
						About us<span class="text-white">Who we are</span>
					</h1>
				</div>
				<!-- End .page-header -->
			</div>
			<!-- End .container -->

			<div class="page-content pb-0">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 mb-3 mb-lg-0">
							<h2 class="title">Our Vision</h2>
							<!-- End .title -->
							<p>Our online game store aims to provide gamers with a
								convenient and reliable shopping experience. We are committed to
								offering a wide selection of games from different platforms and
								genres, as well as providing exclusive content and organizing
								events to connect the gaming community.</p>
						</div>
						<!-- End .col-lg-6 -->

						<div class="col-lg-6">
							<h2 class="title">Our Mission</h2>
							<!-- End .title -->
							<p>Our mission is to make gaming accessible to everyone and
								promote inclusivity and diversity within the gaming industry. We
								strive to empower gamers by providing them with the resources
								they need to succeed and fostering a sense of community among
								them.</p>
						</div>
						<!-- End .col-lg-6 -->
					</div>
					<!-- End .row -->

					<div class="mb-5"></div>
					<!-- End .mb-4 -->
				</div>
				<!-- End .container -->

				<div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
					<div class="container">
						<div class="row">
							<div class="col-lg-5 mb-3 mb-lg-0">
								<h2 class="title">Who We Are</h2>
								<!-- End .title -->
								<p class="lead text-primary mb-3">Welcome to 4TL, your
									one-stop-shop for all your gaming needs. We offer a wide range
									of gaming products, including consoles, games, accessories, and
									more, from all the top brands.</p>
								<!-- End .lead text-primary -->
								<p class="mb-2">Our knowledgeable and friendly staff are
									always available to help you find what you're looking for and
									offer expert advice to enhance your gaming experience. At 4TL,
									we strive to create a fun and inclusive community where gamers
									of all levels can connect and enjoy their passion for gaming.</p>

								<a href="#"
									class="btn btn-sm btn-minwidth btn-outline-primary-2"> <span>VIEW
										OUR NEWS</span> <i class="icon-long-arrow-right"></i>
								</a>
							</div>
							<!-- End .col-lg-5 -->

							<div class="col-lg-6 offset-lg-1">
								<div class="about-images">
									<img src="assets/images/about/img-1.jpg" alt="" width="436px"
										class="about-img-front"> <img
										src="assets/images/about/img-2.jpg" alt="" width="276px"
										class="about-img-back">
								</div>
								<!-- End .about-images -->
							</div>
							<!-- End .col-lg-6 -->
						</div>
						<!-- End .row -->
					</div>
					<!-- End .container -->
				</div>
				<!-- End .bg-light-2 pt-6 pb-6 -->

				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="brands-text">
								<h2 class="title">All premium design brands from around the
									world can be found in one destination, 4TL.</h2>
								<!-- End .title -->
								<p>4TL - your one-stop-shop for all your gaming needs. We
									have an extensive selection of top gaming brands from around
									the world including EA Sports, Rockstar Games, and Bethesda's
									Fallout franchise.</p>
							</div>
							<!-- End .brands-text -->
						</div>
						<!-- End .col-lg-5 -->
						<div class="col-lg-7">
							<div class="brands-display">
								<div class="row justify-content-center">
									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/1.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->

									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/2.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->

									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/3.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->

									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/4.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->

									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/5.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->

									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/6.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->

									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/7.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->

									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/8.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->

									<div class="col-6 col-sm-4">
										<a href="#" class="brand"> <img
											src="assets/images/brands/9.png" alt="Brand Name">
										</a>
									</div>
									<!-- End .col-sm-4 -->
								</div>
								<!-- End .row -->
							</div>
							<!-- End .brands-display -->
						</div>
						<!-- End .col-lg-7 -->
					</div>
					<!-- End .row -->

					<hr class="mt-4 mb-6">

					<h2 class="title text-center mb-4">Meet Our Team</h2>
					<!-- End .title text-center mb-2 -->

					<div class="row">
						<div class="col-md-4">
							<div class="member member-anim text-center">
								<figure class="member-media">
									<img src="https://cdn.lazi.vn/storage/uploads/users/avatar/1587962225_1585288013_anonymous_512.png" alt="member photo">

									<figcaption class="member-overlay">
										<div class="member-overlay-content">
											<h3 class="member-title">
												Nguyễn Hoàng Lê Huy<span>DEVELOPER</span>
											</h3>
											<!-- End .member-title -->
											<p>Back-end and database.</p>
											<div class="social-icons social-icons-simple">
												<a href="#" class="social-icon" title="Facebook"
													target="_blank"><i class="icon-facebook-f"></i></a> <a
													href="#" class="social-icon" title="Twitter"
													target="_blank"><i class="icon-twitter"></i></a> <a
													href="#" class="social-icon" title="Instagram"
													target="_blank"><i class="icon-instagram"></i></a>
											</div>
											<!-- End .soial-icons -->
										</div>
										<!-- End .member-overlay-content -->
									</figcaption>
									<!-- End .member-overlay -->
								</figure>
								<!-- End .member-media -->
								<div class="member-content">
									<h3 class="member-title">
										Nguyễn Hoàng Lê Huy<span>Developer</span>
									</h3>
									<!-- End .member-title -->
								</div>
								<!-- End .member-content -->
							</div>
							<!-- End .member -->
						</div>
						<!-- End .col-md-4 -->

						<div class="col-md-4">
							<div class="member member-anim text-center">
								<figure class="member-media">
									<img src="https://cdn.lazi.vn/storage/uploads/users/avatar/1587962225_1585288013_anonymous_512.png" alt="member photo">

									<figcaption class="member-overlay">
										<div class="member-overlay-content">
											<h3 class="member-title">
												Nguyễn Ngọc Hân<span>DEVELOPER</span>
											</h3>
											<!-- End .member-title -->
											<p>Back-end and database.</p>
											<div class="social-icons social-icons-simple">
												<a href="#" class="social-icon" title="Facebook"
													target="_blank"><i class="icon-facebook-f"></i></a> <a
													href="#" class="social-icon" title="Twitter"
													target="_blank"><i class="icon-twitter"></i></a> <a
													href="#" class="social-icon" title="Instagram"
													target="_blank"><i class="icon-instagram"></i></a>
											</div>
											<!-- End .soial-icons -->
										</div>
										<!-- End .member-overlay-content -->
									</figcaption>
									<!-- End .member-overlay -->
								</figure>
								<!-- End .member-media -->
								<div class="member-content">
									<h3 class="member-title">
										Nguyễn Ngọc Hân<span>Developer</span>
									</h3>
									<!-- End .member-title -->
								</div>
								<!-- End .member-content -->
							</div>
							<!-- End .member -->
						</div>
						<!-- End .col-md-4 -->

						<div class="col-md-4">
							<div class="member member-anim text-center">
								<figure class="member-media">
									<img src="https://cdn.lazi.vn/storage/uploads/users/avatar/1587962225_1585288013_anonymous_512.png" alt="member photo">

									<figcaption class="member-overlay">
										<div class="member-overlay-content">
											<h3 class="member-title">
												Nguyễn Hoàng Khanh<span>DEVELOPER</span>
											</h3>
											<!-- End .member-title -->
											<p>Back-end and database.</p>
											<div class="social-icons social-icons-simple">
												<a href="#" class="social-icon" title="Facebook"
													target="_blank"><i class="icon-facebook-f"></i></a> <a
													href="#" class="social-icon" title="Twitter"
													target="_blank"><i class="icon-twitter"></i></a> <a
													href="#" class="social-icon" title="Instagram"
													target="_blank"><i class="icon-instagram"></i></a>
											</div>
											<!-- End .soial-icons -->
										</div>
										<!-- End .member-overlay-content -->
									</figcaption>
									<!-- End .member-overlay -->
								</figure>
								<!-- End .member-media -->
								<div class="member-content">
									<h3 class="member-title">
										Nguyễn Hoàng Khanh<span>Developer</span>
									</h3>
									<!-- End .member-title -->
								</div>
								<!-- End .member-content -->
							</div>
							<!-- End .member -->
						</div>
						<!-- End .col-md-4 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container -->

				<div class="mb-2"></div>
				<!-- End .mb-2 -->

				<div class="about-testimonials bg-light-2 pt-6 pb-6">
					<div class="container">
						<h2 class="title text-center mb-3">What Customer Say About Us</h2>
						<!-- End .title text-center -->

						<div class="owl-carousel owl-simple owl-testimonials-photo"
							data-toggle="owl"
							data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
							<blockquote class="testimonial text-center">
								<img src="assets/images/testimonials/user-1.jpg" alt="user">
								<p>
									“ Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Pellentesque aliquet nibh nec urna. <br>In nisi neque,
									aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
									sollicitudin laoreet viverra, tortor libero sodales leo, eget
									blandit nunc tortor eu nibh. Nullam mollis. Ut justo.
									Suspendisse potenti. ”
								</p>
								<cite> Jenson Gregory <span>Customer</span>
								</cite>
							</blockquote>
							<!-- End .testimonial -->

							<blockquote class="testimonial text-center">
								<img src="assets/images/testimonials/user-2.jpg" alt="user">
								<p>“ Impedit, ratione sequi, sunt incidunt magnam et.
									Delectus obcaecati optio eius error libero perferendis nesciunt
									atque dolores magni recusandae! Doloremque quidem error eum
									quis similique doloribus natus qui ut ipsum.Velit quos ipsa
									exercitationem, vel unde obcaecati impedit eveniet non. ”</p>

								<cite> Victoria Ventura <span>Customer</span>
								</cite>
							</blockquote>
							<!-- End .testimonial -->
						</div>
						<!-- End .testimonials-slider owl-carousel -->
					</div>
					<!-- End .container -->
				</div>
				<!-- End .bg-light-2 pt-5 pb-6 -->
			</div>
			<!-- End .page-content -->
		</main>
	</div>

	<!-- Plugins JS File -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/jquery.hoverIntent.min.js"></script>
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<script src="assets/js/superfish.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- Main JS File -->
	<script src="assets/js/main.js"></script>
</body>

</html>