<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
<!-- DOWN CSS -->
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">



	<!-- PRODUCT LIST -->


	<!-- Theme JS files -->
	<script src="/assets/assets2/assets/global_assets/js/plugins/uploaders/dropzone.min.js"></script>
	<script src="/assets/assets2/assets/global_assets/js/demo_pages/uploader_dropzone.js"></script>

	<script src="/assets/assets2/assets/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
	<script src="/assets/assets2/assets/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="/assets/assets2/assets/global_assets/js/demo_pages/editor_summernote.js"></script>

	<!-- DOWN SCRIPT -->



	<script src="/assets/plugin/dropify/js/dropify.min.js"></script>
	<script src="/assets/js/forms/dropify.js"></script>


	<!-- Bootstrap Core JS -->
	<script src="/assets/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/assets/js/jquery.slimscroll.min.js"></script>

	<!-- Chart JS -->
	<script src="/assets/plugins/morris/morris.min.js"></script>
	<script src="/assets/plugins/raphael/raphael.min.js"></script>
	<script src="/assets/js/chart.js"></script>

	<!-- Custom JS -->
	<script src="/assets/js/app.js"></script>

	<!-- PRODUCT DOWN-->



</head>


<body>
	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>
					<li class="menu-title">
						<span>Main</span>
					</li>
					<li>
						<a href="index.html"><i class="la la-dashboard"></i> <span class="mt-1"> Admin
								Dashboard</span></a>
					</li>

					<li class="menu-title">
						<span>Content</span>
					</li>
					<li class="submenu">
						<a href="#"><i class="la la-user"></i> <span> Accounts</span> <span
								class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/customer-list">Customer Account</a></li>
							<li><a href="/staff-list">Staff Account</a></li>

						</ul>
					</li>

					<li>
						<a href="/product-list"><i class="la la-shopping-cart"></i> <span class="mt-1"> Products &
								Feedback </span></a>
					</li>
					<li>
						<a href="/blog-list"><i class="la la-edit"></i> <span class="mt-1"> Blogs &
								Comment</span></a>
					</li>
					<li class="submenu">
						<a href="#"><i class="la la-shopping-cart"></i> <span> Coupon</span> <span
								class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/coupon-list">Coupon List</a></li>
							<li><a href="/coupon-owner">Coupon Owner</a></li>

						</ul>
					</li>
					<li>
						<a href="/order-list"><i class="la la-user"></i> <span class="mt-1"> Order List &
								Detail</span></a>
					</li>
					<li><a href="/category"><i class="la la-align-center"></i> <span>Category</span></a></li>
					<li><a href="#"><i class="la la-bullhorn"></i> <span>Advertising</span></a></li>
					<li><a href="#"><i class="la la-eye"></i> <span>Notification</span></a></li>
					<li><a href="/category"><i class="la la-lock"></i> <span>Role & Permission</span></a></li>
					<li class="menu-title">
						<span>Other</span>
					</li>

					<li class="submenu">
						<a href="#"><i class="la la-key"></i> <span> Authentication </span> <span
								class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/login"> Login </a></li>
							<li><a href="#"> Register </a></li>
							<li><a href="#"> Forgot Password </a></li>
							<li><a href="#"> OTP </a></li>
							<li><a href="#"> Lock Screen </a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="#"><i class="la la-exclamation-triangle"></i> <span> Error Pages </span> <span
								class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/error-404">404 Error </a></li>
							<li><a href="/error-500">500 Error </a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->
</body>

</html>