<!-- Header -->
<div ng-include="'/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/templates/sidebar.html'"></div>
<!-- /Sidebar -->


<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Blog Comment</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Blog Comment</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Search Filter -->
		<div class="row filter-row">
			<div class="col-sm-6 col-md-4">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating">
					<label class="focus-label">Blog ID</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating">
					<label class="focus-label">Username Comment</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="#" class="btn btn-success btn-block"> Search </a>
			</div>
		</div>
		<!-- /Search Filter -->

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table datatable">
						<thead>
							<tr>
								<th>Blog ID</th>
								<th>Blog Title</th>
								<th>Username</th>
								<th>Comment</th>
								<th>Created Date</th>
								<th>Status</th>
								<th class="text-right no-sort">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</a></td>
								<td>FIFA 22 sửa lỗi cho thủ môn và trọng tài</td>
								<td>Lê Đăng Dương</td>
								<td>Giật lagggg game tệ</td>
								<td>2023-06-01</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-dot-circle-o text-success"></i> Đã Duyệt
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-success"></i> Đã Duyệt</a>
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-danger"></i> Chưa Duyệt</a>
										</div>
									</div>
								</td>
								<td class="text-right">
									<div class=" text-right">
										<button href="#" data-toggle="modal" data-target="#delete_comment"
											class="border btn-danger">Delete</button>
									</div>
								</td>
							</tr>
							<tr>
								<td>2</a></td>
								<td>FIFA 22 sửa lỗi cho thủ môn và trọng tài</td>
								<td>Lê Đăng Dương</td>
								<td>Giật lagggg game tệ</td>
								<td>2023-06-01</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-dot-circle-o text-danger"></i> Chưa Duyệt
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-success"></i> Đã Duyệt</a>
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-danger"></i> Chưa Duyệt</a>
										</div>
									</div>
								</td>
								<td class="text-right">
									<div class=" text-right">
										<button href="#" data-toggle="modal" data-target="#delete_comment"
											class="border btn-danger">Delete</button>
									</div>
								</td>
							</tr>
							<tr>
								<td>3</a></td>
								<td>FIFA 22 sửa lỗi cho thủ môn và trọng tài</td>
								<td>Lê Đăng Dương</td>
								<td>Giật lagggg game tệ</td>
								<td>2023-06-01</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-dot-circle-o text-success"></i> Đã Duyệt
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-success"></i> Đã Duyệt</a>
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-danger"></i> Chưa Duyệt</a>
										</div>
									</div>
								</td>
								<td class="text-right">
									<div class=" text-right">
										<button href="#" data-toggle="modal" data-target="#delete_comment"
											class="border btn-danger">Delete</button>
									</div>
								</td>
							</tr>
							<tr>
								<td>4</a></td>
								<td>FIFA 22 sửa lỗi cho thủ môn và trọng tài</td>
								<td>Lê Đăng Dương</td>
								<td>Giật lagggg game tệ</td>
								<td>2023-06-01</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-dot-circle-o text-success"></i> Đã Duyệt
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-success"></i> Đã Duyệt</a>
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-danger"></i> Chưa Duyệt</a>
										</div>
									</div>
								</td>
								<td class="text-right">
									<div class=" text-right">
										<button href="#" data-toggle="modal" data-target="#delete_comment"
											class="border btn-danger">Delete</button>
									</div>
								</td>
							</tr>
							<tr>
								<td>5</a></td>
								<td>FIFA 22 sửa lỗi cho thủ môn và trọng tài</td>
								<td>Lê Đăng Dương</td>
								<td>Giật lagggg game tệ</td>
								<td>2023-06-01</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-dot-circle-o text-success"></i> Đã Duyệt
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-success"></i> Đã Duyệt</a>
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-danger"></i> Chưa Duyệt</a>
										</div>
									</div>
								</td>
								<td class="text-right">
									<div class=" text-right">
										<button href="#" data-toggle="modal" data-target="#delete_comment"
											class="border btn-danger">Delete</button>
									</div>
								</td>
							</tr>
							<tr>
								<td>6</a></td>
								<td>FIFA 22 sửa lỗi cho thủ môn và trọng tài</td>
								<td>Lê Đăng Dương</td>
								<td>Giật lagggg game tệ</td>
								<td>2023-06-01</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-dot-circle-o text-success"></i> Đã Duyệt
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-success"></i> Đã Duyệt</a>
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-danger"></i> Chưa Duyệt</a>
										</div>
									</div>
								</td>
								<td class="text-right">
									<div class=" text-right">
										<button href="#" data-toggle="modal" data-target="#delete_comment"
											class="border btn-danger">Delete</button>
									</div>
								</td>
							</tr>
							<tr>
								<td>7</a></td>
								<td>FIFA 22 sửa lỗi cho thủ môn và trọng tài</td>
								<td>Lê Đăng Dương</td>
								<td>Giật lagggg game tệ</td>
								<td>2023-06-01</td>
								<td>
									<div class="dropdown action-label">
										<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#"
											data-toggle="dropdown" aria-expanded="false">
											<i class="fa fa-dot-circle-o text-success"></i> Đã Duyệt
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-success"></i> Đã Duyệt</a>
											<a class="dropdown-item" href="#"><i
													class="fa fa-dot-circle-o text-danger"></i> Chưa Duyệt</a>
										</div>
									</div>
								</td>
								<td class="text-right">
									<div class=" text-right">
										<button href="#" data-toggle="modal" data-target="#delete_comment"
											class="border btn-danger">Delete</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Delete Coupon Modal -->
	<div class="modal custom-modal fade" id="delete_comment" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Coupon</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Employee Modal -->

</div>
<!-- /Page Wrapper -->