<!-- Header -->
<div ng-include="'/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/templates/sidebar.html'"></div>
<!-- /Sidebar -->
<!-- Page Wrapper -->
<div class="page-wrapper" ng-controller="CouponOwnerController">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Coupon Owner</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Coupon Owner</li>
					</ul>
				</div>
				<div class="col-auto float-right ml-auto">
					<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_Coupon" ng-click="openAddModal()"><i
							class="fa fa-plus"></i> Add Coupon Owner</a>

				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Search Filter -->
		<div class="row filter-row">
			<div class="col-sm-3 col-md-2">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating" ng-model="couponNameFilter">
					<label class="focus-label">Coupon Name</label>
				</div>
			</div>
			<div class="col-sm-3 col-md-2">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating" ng-model="customerNameFilter">
					<label class="focus-label">Customer Name</label>
				</div>
			</div>
			<div class="col-sm-3 col-md-2">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating" ng-model="totalMoneyFilter">
					<label class="focus-label">Total Money Spent</label>
				</div>
			</div>
			<div class="col-sm-3 col-md-4">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating" ng-model="locationFilter">
					<label class="focus-label">Location</label>
				</div>
			</div>
			<div class="col-sm-3 col-md-2">
				<a href="#" class="btn btn-success btn-block" ng-click="getAllBySearch()"> Search </a>
			</div>
		</div>
		<!-- /Search Filter -->

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table datatable">
						<thead>
							<tr>
								<th>#</th>
								<th>Username</th>
								<th>Address</th>
								<th>Total Money Spent</th>
								<th>Coupon Name</th>
								<th>Code</th>
								<th>Status</th>
								<th class="text-right no-sort">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="cate in couponOwners">
								<td>{{$index + 1}}</td>
								<td>{{cate.userName}}</td>
								<td>{{cate.location}}</td>
								<td>{{cate.totalMoneySpent}}<span>VNĐ</span></td>
								<td class="text-left"><a class="text-dark" href="#" data-toggle="modal"
										data-target="#edit_Coupon">{{cate.voucherName}}</a></td>
								<td>{{cate.code}}</td>
								<td>
									<div class="dropdown action-label">
										<a class="dropdown-item" href="#" ng-if="cate.status">
											<i class="fa fa-dot-circle-o text-success"></i> Đã Bật
										</a>
										<a class="dropdown-item" href="#" ng-if="!cate.status"><i
												class="fa fa-dot-circle-o text-danger"></i>Đã Tắt</a>
									</div>
								</td>
								<td class="text-right">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
											aria-expanded="false"><i class="material-icons font-weight-bold">⋮</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-toggle="modal" ng-click="selectCouponOwner(cate)"
												data-target="#edit_Coupon"><i class="fa fa-pencil m-r-5"></i>
												Edit</a>
											<a class="dropdown-item" href="#" data-toggle="modal" ng-click="selectCouponOwner(cate)"
												data-target="#delete_Coupon"><i class="fa fa-trash-o m-r-5"></i>
												Delete</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->


	<!-- Add Coupon Modal -->
	<div id="add_Coupon" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Coupon Owner</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-md-12">
								<div class="voucher-img-wrap edit-img">
									<img class="thumb" ng-src="https://drive.google.com/uc?export=view&id={{image}}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Username <span class="text-danger">*</span></label>
									<select class="select" ng-model="accountId">
										<option ng-repeat="(key, value) in accounts" value="{{value.id}}" >{{value.fullname}}</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Coupon Name <span class="text-danger">*</span></label>
									<select class="select" ng-model="couponId" ng-change="changeSelectCoupon()">
										<option ng-repeat="(key, value) in coupons" value="{{value.id}}" >{{value.couponName}}</option>
									</select>
								</div>
							</div>


						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn" ng-click="submitAdd()">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Coupon Modal -->

	<!-- Edit Coupon Modal -->
	<div id="edit_Coupon" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Coupon</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-md-12">
								<div class="voucher-img-wrap edit-img">
									<img class="thumb" ng-src="https://drive.google.com/uc?export=view&id={{image}}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Username <span class="text-danger">*</span></label>
									<select class="select" ng-model="accountId">
										<option ng-repeat="(key, value) in accounts" value="{{value.id}}" >{{value.fullname}}</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Voucher Name <span class="text-danger">*</span></label>
									<select class="select" ng-model="couponId" ng-change="changeSelectCoupon()">
										<option ng-repeat="(key, value) in coupons" value="{{value.id}}" >{{value.couponName}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn" ng-click="submitAdd()">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Coupon Modal -->

	<!-- Delete Coupon Modal -->
	<div class="modal custom-modal fade" id="delete_Coupon" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Coupon</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);" ng-click="delete()" class="btn btn-primary continue-btn">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Employee Modal -->

</div>
<!-- /Page Wrapper -->