<!-- Header -->
<div ng-include="'/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/templates/sidebar.html'"></div>
<!-- /Sidebar -->

<!-- Page Wrapper -->
<div class="page-wrapper" ng-controller="CustomerController">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Customer</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Customer Account</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
      <div class="col-sm-6 col-md-4">
        <div class="form-group form-focus">
          <input ng-model="usernameFilter" type="text" class="form-control floating" />
          <label class="focus-label">Username</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="form-group form-focus">
          <input ng-model="nameFilter" type="text" class="form-control floating" />
          <label class="focus-label">Customer Name</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="#" class="btn btn-success btn-block" ng-click="filterData()">
          Search
        </a>
      </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table ">
            <thead>
              <tr>
                <th>Name</th>
                <th>Customer ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Send Mail</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="customer in customers">
                <td>
                  <h2 class="table-avatar">
                    <a href="profile.html" class="avatar"><img alt=""
                        ng-src="http://localhost:8080/api/account/image/{{customer.username}}" /></a>
                    <a href="profile.html">{{customer.fullname}}</a>
                  </h2>
                </td>
                <td>{{customer.id}}</td>
                <td>{{customer.username}}</td>
                <td>{{customer.password}}</td>
                <td>{{customer.email}}</td>
                <td class="staff-msg">
                  <a class="btn btn-custom" data-toggle="modal" data-target="#send_mail">Send Email</a>
                </td>
                <td>
                  <div class="dropdown action-label">
                    <a ng-click="toggleAccountStatus(customer)" class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                      href="#"><i class="fa fa-dot-circle-o"
                        ng-class="{'text-success': customer.status, 'text-danger': !customer.status}"></i>
                      {{customer.status? "Đang Hoạt Động" : "Không Hoạt Động"}}
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->

  <!-- Send Mail Modal -->
  <div id="send_mail" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Send Mail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <input type="email" placeholder="To" class="form-control" />
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="email" placeholder="Cc" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="email" placeholder="Bcc" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" placeholder="Subject" class="form-control" />
                      </div>
                      <div class="form-group">
                        <textarea rows="4" class="form-control summernote"
                          placeholder="Enter your message here"></textarea>
                      </div>
                      <div class="form-group mb-0">
                        <div class="text-center">
                          <button class="btn btn-primary">
                            <span>Send</span> <i class="fa fa-send m-l-5"></i>
                          </button>
                          <button class="btn btn-success m-l-5" type="button">
                            <span>Draft</span>
                            <i class="fa fa-floppy-o m-l-5"></i>
                          </button>
                          <button class="btn btn-success m-l-5" type="button">
                            <span>Delete</span>
                            <i class="fa fa-trash-o m-l-5"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Send Mail Modal -->
  <!-- Delete Customer Modal -->
  <div class="modal custom-modal fade" id="delete_customer" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete Customer</h3>
            <p>Are you sure want to delete?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
              </div>
              <div class="col-6">
                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Delete Employee Modal -->
</div>
<!-- /Page Wrapper -->