
<!-- Main Wrapper -->
<div class="main-wrapper" ng-controller="LoginController">
	<div class="account-content">
		<div class="container">

			<!-- Account Logo -->
			<div class="account-logo">
				<a href="index.html"><img src="assets/images/masonry/AU-thumb2.jpg" alt="7TL Technologies" class="rounded-circle"></a>
			</div>
			<!-- /Account Logo -->

			<div class="account-box">
				<div class="account-wrapper">
					<h3 class="account-title">Login</h3>
					<p class="account-subtitle">Access to our dashboard</p>

					<!-- Account Form -->
					<form>
						<div class="form-group">
							<label>Username</label>
							<input ng-model="userName" class="form-control" type="text">
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col">
									<label>Password</label>
								</div>
							</div>
							<input ng-model="password" class="form-control" type="password">
						</div>
						<div class="form-group text-center">
							<button
							ng-click="submitLogin()"
							class="btn btn-primary submit-btn"
						  >
							Login
						  </button>
						</div>
					</form>
					<!-- /Account Form -->

				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->