<!-- Header -->
<div ng-include="'/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/templates/sidebar.html'"></div>
<!-- /Sidebar -->

<!-- Page Wrapper -->
<div class="page-wrapper" ng-controller="ProductController">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Product List</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Product List</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_Product"><i
                            class="fa fa-plus"></i>Add Product</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus">
                    <input type="text" class="form-control" id="searchUsername">
                    <label class="focus-label">Product Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus cal-icon">
                    <input type="text" class="form-control floating datetimepicker" id="searchCreateDate"
                        ng-keydown="searchWithEnter($event)">
                    <label class="focus-label">Created Date</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus select-focus">
                    <label class="focus-label">Type</label>
                    <select class="select" id="searchTitle">
                        <option value="" selected>Select Type</option>
                        <option value="Game">Game</option>
                        <option value="PK">Phụ kiện</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="#" class="btn btn-success btn-block" ng-click="searchProduct()">Search</a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="#" class="btn btn-success btn-block" ng-click="refreshSearch()">Refresh</a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="#" class="btn btn-success btn-block" ng-click="downloadExcel()">Export Report</a>
            </div>
        </div>
        <!-- /Search Filter -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable" id="tableProduct">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <td class="text-center">Poster</td>
                                <th>Product Name</th>
                                <th>Origin Price</th>
                                <th>Sale Price</th>
                                <th>Offer</th>
                                <th>Source</th>
                                <th class="text-nowrap">Create Date</th>
                                <th>Type</th>
                                <th>Available</th>
                                <th class="text-right no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Product Modal -->
    <div id="add_Product" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <form name="formAddProduct" novalidate>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Product Name</label>
                                            <input class="form-control" type="text" ng-model="addProductForm.name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Origin Price</label>
                                            <input class="form-control" type="number"
                                                ng-model="addProductForm.originPrice">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Sale Price</label>
                                            <input class="form-control" type="number"
                                                ng-model="addProductForm.salePrice">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Offer</label>
                                            <input class="form-control" type="text" ng-model="addProductForm.offer">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Type</label>
                                            <select class="select" ng-model="addProductForm.type">
                                                <option value="">Please choose Type</option>
                                                <option value="Game">Game</option>
                                                <option value="PK">Phụ kiện</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Category</label>
                                            <select class="select" ng-model="addProductForm.category.id"
                                                ng-options="category.id as category.name for category in categories">
                                                <option value="">Please choose Category</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Available</label>
                                            <select class="select" ng-model="addProductForm.available">
                                                <option value="">Please choose Available</option>
                                                <option value="true">Còn Hàng</option>
                                                <option value="false">Hết Hàng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Quantity</label>
                                            <input class="form-control" type="number" ng-model="addProductForm.qty"
                                                min="1">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Source</label>
                                            <input class="form-control" type="text" ng-model="addProductForm.source">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Link</label>
                                            <input class="form-control" type="text" ng-model="addProductForm.link">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="5"
                                                ng-model="addProductForm.details"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4 theme-blush">
                            <h4 class="d-flex justify-content-center">IMAGE POSTER</h4>
                            <div class="card border-0">
                                <div class="body d-flex justify-content-center">
                                    <input type="file" class="dropify" id="posterImage" accept="image/*">
                                </div>
                            </div>
                            <!-- <div class="mt-2">
                                <img ng-src="{{product.poster}}" alt="Poster Preview" class="img-fluid">
                            </div> -->
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <h4 class="">IMAGE THUMBNAIL</h4>
                                        <h5 class="text-danger fs-3 mt-1 ml-2">*Only 3 Photos*</h5>
                                    </div>
                                    <div class="row d-flex flex-row-reverse mr-3 mb-2">
                                        <h5 class="text-danger fs-3 mt-1 ml-2" style="cursor: pointer;"
                                            id="refreshThumbnail">Click here to remove all thumbnail
                                        </h5>
                                    </div>

                                    <!-- Directive Dropzone sẽ được gọi ở đây -->
                                    <dropzone thumbnails="thumbnailsList" max-files="3"></dropzone>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" ng-click="addProduct()">ADD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Product Modal -->

    <!-- Edit Product Modal -->
    <div id="edit_Product" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <form name="formAddProduct" novalidate>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Product Name</label>
                                            <input class="form-control" type="text" ng-model="editProduct.name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Origin Price</label>
                                            <input class="form-control" type="number"
                                                ng-model="editProduct.originPrice">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Sale Price</label>
                                            <input class="form-control" type="number" ng-model="editProduct.salePrice">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Offer</label>
                                            <input class="form-control" type="text" ng-model="editProduct.offer">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Type</label>
                                            <select class="select" ng-model="editProduct.type">
                                                <option value="">Please choose Type</option>
                                                <option value="Game">Game</option>
                                                <option value="PK">Phụ kiện</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Category</label>
                                            <select class="select" ng-model="editProduct.category.id"
                                                ng-options="category.id as category.name for category in categories">
                                                <option value="">Please choose Category</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Available</label>
                                            <select class="select" ng-model="editProduct.available">
                                                <option value="">Please choose Available</option>
                                                <option value="true">Còn Hàng</option>
                                                <option value="false">Hết Hàng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Quantity</label>
                                            <input class="form-control" type="number" ng-model="editProduct.qty"
                                                min="1">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Source</label>
                                            <input class="form-control" type="text" ng-model="editProduct.source">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Link</label>
                                            <input class="form-control" type="text" ng-model="editProduct.link">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="5"
                                                ng-model="editProduct.details"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4 theme-blush">
                            <h4 class="d-flex justify-content-center">IMAGE POSTER</h4>
                            <div class="avatar-wrapper">
                                <img class="profile-pic" ng-src="{{posterEdit.href + posterEdit.key}}" alt="Avatar" />
                                <div class="upload-button" ng-click="handleUploadClick()">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input class="file-upload" type="file" id="fileInput" accept="image/*" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <h4 class="">IMAGE THUMBNAIL</h4>
                                        <h5 class="text-danger fs-3 mt-1 ml-2">*Only 3 Photos*</h5>
                                    </div>
                                    <div class="dropzone-container d-flex justify-content-center flex-wrap"
                                        id="dropzone_remove">
                                        <div ng-repeat="(key,thumbnail) in thumbnails">
                                            <div class="avatar-wrapper mr-4">
                                                <img class="profile-pic" ng-src="{{thumbnail.href + thumbnail.key}}"
                                                    alt="Avatar" />
                                                <div class="upload-button" ng-click="handleUploadClick(key)">
                                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                                </div>
                                                <input class="file-upload d-none" type="file" id="thumbnail{{key}}"
                                                    accept="image/*" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .thumbnail {
                                width: 300px;
                                height: 300px;
                                object-fit: cover;
                                margin: 5px;
                                border-radius: 5%;
                                transition: transform 0.3s;
                            }

                            .thumbnail:hover {
                                transform: scale(1.2);
                            }
                        </style>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn"
                            ng-click="updateProduct(editProduct.id)">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Edit Product Modal -->


    <!-- Comment Product Modal -->
    <div id="comment_Product" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped custom-table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Fullname</th>
                                            <th style="width: 300px;">Content</th>
                                            <th>Star</th>
                                            <th>Create Date</th>
                                            <th>Status</th>
                                            <th class="text-right no-sort">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="feedbackTableBody">
                                        <!-- <tr ng-repeat="Feedback in Feedbacks">
                                            <td>{{Feedback.id}}</a>
                                            </td>
                                            <td>{{Feedback.account.name}}</td>
                                            <td class="d-flex text-wrap">{{Feedback.content}}</td>
                                            <td>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star "></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </td>
                                            <td>{{Feedback.createDate}} </td>

                                            <td>
                                                <div class="dropdown action-label">
                                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                                        <i class="fa fa-dot-circle-o text-success"></i> Đã Duyệt
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#"><i
																class="fa fa-dot-circle-o text-success"></i>
															Đã Duyệt</a>
                                                        <a class="dropdown-item" href="#"><i
																class="fa fa-dot-circle-o text-danger"></i>
															Chưa Duyệt</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div class=" text-right">
                                                    <button href="#" data-toggle="modal" data-target="#delete_comment" class="border btn-danger">Delete</button>
                                                </div>
                                            </td>
                                        </tr> -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <!-- /Comment Product Modal -->

    <!-- Delete Product Modal -->
    <div class="modal custom-modal fade" id="delete_Product" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Product</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Product Modal -->
    <!-- Delete Comment Modal -->
    <div class="modal custom-modal fade" id="delete_comment" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Product</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Comment Modal -->
    <div id="toast"></div>

</div>
<!-- /Page Wrapper -->