<!-- Header -->
<div ng-include="'/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/templates/sidebar.html'"></div>
<!-- /Sidebar -->

<!-- Page Wrapper -->
<div class="page-wrapper" ng-controller="ProductController">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">SẢN PHẨM</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_Product"><i
							class="fa fa-plus"></i> Thêm Sản Phẩm</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus">
                    <input type="text" class="form-control" id="searchUsername">
                    <label class="focus-label">Tên Sản Phẩm</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus cal-icon">
                    <input type="text" class="form-control floating datetimepicker" id="searchCreateDate" ng-keydown="searchWithEnter($event)">
                    <label class="focus-label">Created Date</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus select-focus">
                    <label class="focus-label">Loại Sản Phẩm</label>
                    <select class="select" id="searchTitle">
                        <option value="" selected>Vui lòng chọn</option>
						<option value="Game">Game</option>
						<option value="PK">Phụ kiện</option>
					</select>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="#" class="btn btn-success btn-block" ng-click="searchProduct()"> Tìm Kiếm </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="#" class="btn btn-success btn-block" ng-click="refreshSearch()"> Refresh </a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="#" class="btn btn-success btn-block" ng-click="downloadExcel()"> Xuất Báo Cáo </a>
            </div>
        </div>
        <!-- /Search Filter -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable" id="tableProduct">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <td class="text-center">Ảnh Áp Phích</td>
                                <th>Tên Sản Phẩm</th>
                                <th>Giá Gốc</th>
                                <th>Giá Bán</th>
                                <th>Nhà Phát Hành</th>
                                <th class="text-nowrap">Ngày Phát Hành</th>
                                <th>Loại Sản Phẩm</th>
                                <th>Trạng Thái</th>
                                <th class="text-right no-sort">Hoạt Động</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Product Modal -->
    <div id="add_Product" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">ID</label>
                                            <input class="form-control" type="text" ng-model="product.id">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Product Name</label>
                                            <input class="form-control" type="text" ng-model="product.name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Origin Price</label>
                                            <input class="form-control" type="text" ng-model="product.originPrice">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Sale Price</label>
                                            <input class="form-control" type="text" ng-model="product.salePrice">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Type</label>
                                            <select class="select" ng-model="product.type">
                                                <option value="Game">Game</option>
                                                <option value="Phụ kiện">Phụ kiện</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Category</label>
                                            <select class="select" ng-model="product.category.id" ng-options="category.id as category.name for category in categories">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Status</label>
                                            <select class="select" ng-model="product.status">
                                                <option value="true">Còn Hàng</option>
                                                <option value="false">Hết Hàng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Quantity</label>
                                            <input class="form-control" type="number" ng-model="product.qty">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Source</label>
                                            <input class="form-control" type="text" ng-model="product.source">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Link</label>
                                            <input class="form-control" type="text" ng-model="product.link">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" rows="5" ng-model="product.details"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4 theme-blush">
                            <h4 class="d-flex justify-content-center">IMAGE POSTER</h4>
                            <div class="card border-0">
                                <div class="body d-flex justify-content-center">
                                    <input type="file" class="dropify" ng-model="product.poster" accept="image/*">
                                </div>
                            </div>
                            <!-- <div class="mt-2">
                                <img ng-src="{{product.poster}}" alt="Poster Preview" class="img-fluid">
                            </div> -->
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <h4 class="">IMAGE THUMBNAIL</h4>
                                        <h5 class="text-danger fs-3 mt-1 ml-2">*Only 3 Photos*</h5>
                                    </div>

                                    <form action="#" class="dropzone d-flex justify-content-center flex-wrap" id="thumbnailDropzone"></form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" ng-click="addProduct()">ADD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Product Modal -->

    <!-- Edit Product Modal -->
    <div id="edit_Product" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh Sửa Sản Phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">ID </label>
                                            <input class="form-control" type="text" ng-model="editProduct.id" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Tên Sản Phẩm </label>
                                            <input class="form-control" type="text" ng-model="editProduct.name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Giá Gốc</label>
                                            <input class="form-control" type="text" ng-model="editProduct.originPrice">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Giá Bán </label>
                                            <input class="form-control" type="text" ng-model="editProduct.salePrice">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-form-label">Đường Dẫn </label>
                                            <input class="form-control" type="email" ng-model="editProduct.link">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Danh Mục</label>
                                            <select class="select" ng-model="editProduct.category.id" ng-options="category.id as category.name for category in categories">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Trạng Thái</label>
                                            <select class="select" ng-model="editProduct.status">
                                                <option value="true" ng-selected="editProduct.status === true">Còn Hàng</option>
                                                <option value="false" ng-selected="editProduct.status === false">Hết Hàng</option>
                                            </select>
                                        </div>
                                        <!-- <div class="form-group">
                                            <label class="col-form-label">Status</label>
                                            <input type="text" class="form-control" value="{{ product.status ? 'Còn Hàng' : 'Hết Hàng' }}">
                                        </div> -->
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-form-label">Nhà Phát Hành</label>
                                            <input class="form-control" type="text" ng-model="editProduct.source">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Mô Tả Sản Phẩm</label>
                                            <textarea class="form-control" rows="5" ng-model="editProduct.details"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4 theme-blush">
                            <h4 class="d-flex justify-content-center">Ảnh Áp Phích</h4>
                            <div class="avatar-wrapper">
                                <img class="profile-pic" ng-src="{{currentPhotoUrl || 'https://drive.google.com/uc?id=' + editProduct.poster}}" alt="Avatar" />
                                <div class="upload-button" ng-click="handleUploadClick()">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input class="file-upload" type="file" id="fileInput" accept="image/*" />
                            </div>

                            <!-- <div class="card border-0">
                                <div class="body d-flex flex-column align-items-center">

                                    <img style="width: 300px; height: 533px;" src="https://drive.google.com/uc?id={{product.poster}}">
                                    <input type="file" class="dropify" ng-model="product.poster" accept="image/*">

                                </div>
                            </div> -->
                        </div>

                    </div>
                    <!-- <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row  d-flex justify-content-center">
                                        <h4 class=" ">IMAGE THUMBNAIL</h4>
                                        <h5 class="text-danger fs-3 mt-1 ml-2">*Only 3 Photos*</h5>
                                    </div>

                                    <form action="#" class="dropzone d-flex justify-content-center flex-wrap" id="dropzone_remove"></form>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <h4 class="">Ảnh Thu Nhỏ</h4>
                                        <h5 class="text-danger fs-3 mt-1 ml-2">*Chỉ được 3 ảnh thu nhỏ*</h5>
                                    </div>
                                    <div class="dropzone-container d-flex justify-content-center flex-wrap" id="dropzone_remove">
                                        <div ng-repeat="(key,thumbnailId) in thumbnails">
                                            <!-- <img ng-src="https://drive.google.com/uc?id={{thumbnailId.trim()}}" alt="Thumbnail" class="thumbnail"> -->
                                            <form>
                                                <img id="img{{key}}" ng-src="{{thumbnailId.href + thumbnailId.key.trim()}}" alt="Thumbnail" class="thumbnail" ng-click="handleThumbnailUploadClick(key)">
                                                <div>
                                                    <div class="upload-button" style="width: 0;">
                                                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                                    </div>
                                                    <input class="fileInputthumbnail" type="file" id="fileInputthumbnail{{key}}" accept="image/*" style="display: none;" />
                                                </div>
                                                <!-- <button type="submit" style="display: none;"></button> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .thumbnail {
                                width: 300px;
                                height: 300px;
                                object-fit: cover;
                                margin: 5px;
                                border-radius: 5%;
                                transition: transform 0.3s;
                            }
                            
                            .thumbnail:hover {
                                transform: scale(1.2);
                            }
                        </style>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" ng-click="updateProduct(productId)">Sửa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Edit Product Modal -->


    <!-- Comment Product Modal -->
    <div id="comment_Product" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Đánh Giá Sản Phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped custom-table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên Người Dùng</th>
                                            <th style="width: 300px;">Đánh Giá</th>
                                            <th>Số Sao</th>
                                            <th>Ngày Đánh Giá</th>
                                            <th>Trạng Thái</th>
                                            <th class="text-right no-sort">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="feedbackTableBody">
                                        <!-- <tr ng-repeat="Feedback in Feedbacks">
                                            <td>{{Feedback.id}}</a>
                                            </td>
                                            <td>{{Feedback.account.name}}</td>
                                            <td class="d-flex text-wrap">{{Feedback.content}}</td>
                                            <td>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star "></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </td>
                                            <td>{{Feedback.createDate}} </td>

                                            <td>
                                                <div class="dropdown action-label">
                                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                                        <i class="fa fa-dot-circle-o text-success"></i> Đã Duyệt
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#"><i
																class="fa fa-dot-circle-o text-success"></i>
															Đã Duyệt</a>
                                                        <a class="dropdown-item" href="#"><i
																class="fa fa-dot-circle-o text-danger"></i>
															Chưa Duyệt</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div class=" text-right">
                                                    <button href="#" data-toggle="modal" data-target="#delete_comment" class="border btn-danger">Delete</button>
                                                </div>
                                            </td>
                                        </tr> -->

                                    </tbody>
                                    <div id="toast"></div>
                                </table>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <!-- /Comment Product Modal -->

    <!-- Delete Product Modal -->
    <div class="modal custom-modal fade" id="delete_Product" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Product</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Product Modal -->
    <!-- Delete Comment Modal -->
    <div class="modal custom-modal fade" id="delete_comment" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Product</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Comment Modal -->

</div>
<!-- /Page Wrapper -->