<!-- Header -->
<div ng-include="'/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/templates/sidebar.html'"></div>
<!-- /Sidebar -->

<!-- Page Wrapper -->
<div class="page-wrapper" ng-controller="EmployeeController">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Staff</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Staff Account</li>
          </ul>
        </div>
        <div class="col-auto float-right ml-auto">
          <a ng-click="openAddModal()" href="#" class="btn add-btn" data-toggle="modal" data-target="#add_Staff"><i
              class="fa fa-plus"></i> Add Staff Account</a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
      <div class="col-sm-6 col-md-4">
        <div class="form-group form-focus">
          <input ng-model="usernameFilter" type="text" class="form-control floating" />
          <label class="focus-label">Username</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="form-group form-focus">
          <input ng-model="nameFilter" type="text" class="form-control floating" />
          <label class="focus-label">Staff Name</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="#" class="btn btn-success btn-block" ng-click="filterData()">
          Search
        </a>
      </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table datatable">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Staff ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th class="text-center">Status</th>
                <th class="text-right no-sort">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="employee in employees">
                <td>{{$index + 1}}</td>
                <td>
                  <h2 class="table-avatar">
                    <a href="profile.html" class="avatar"><img alt=""
                        ng-src="https://drive.google.com/uc?id={{employee.photo}}" /></a>
                    <a href="profile.html">{{employee.fullname}}</a>
                  </h2>
                </td>
                <td>{{employee.id}}</td>
                <td>{{employee.username}}</td>
                <td style="width: 200px; ">{{employee.password}}</td>
                <td>
                  <div class="dropdown action-label">
                    <a ng-click="toggleAccountStatus(employee)" class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                      href="#"><i class="fa fa-dot-circle-o"
                        ng-class="{'text-success': employee.status, 'text-danger': !employee.status}"></i>
                      {{employee.status? "Đang Hoạt Động" : "Không Hoạt Động"}}
                    </a>
                  </div>
                </td>
                <td>{{employee.email}}</td>
                <td class="text-right">
                  <div class="dropdown dropdown-action">
                    <!-- <button class="btn">
                      <a ng-click="selectEmployee(employee)" class="dropdown-item" href="#" data-toggle="modal"
                        data-target="#edit_Staff"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                    </button> -->
                    <div class="text-right">
                      <button ng-click="selectEmployee(employee)" href="#" type="button" data-toggle="modal" data-target="#edit_Staff" class="btn btn-primary">
                          View
                      </button>
                  </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->

  <!-- Send Mail Modal -->
  <div id="send_mail" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Send Mail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <input type="email" placeholder="To" class="form-control" />
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="email" placeholder="Cc" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="email" placeholder="Bcc" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" placeholder="Subject" class="form-control" />
                      </div>
                      <div class="form-group">
                        <textarea rows="4" class="form-control summernote"
                          placeholder="Enter your message here"></textarea>
                      </div>
                      <div class="form-group mb-0">
                        <div class="text-center">
                          <button class="btn btn-primary">
                            <span>Send</span> <i class="fa fa-send m-l-5"></i>
                          </button>
                          <button class="btn btn-success m-l-5" type="button">
                            <span>Draft</span>
                            <i class="fa fa-floppy-o m-l-5"></i>
                          </button>
                          <button class="btn btn-success m-l-5" type="button">
                            <span>Delete</span>
                            <i class="fa fa-trash-o m-l-5"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Send Mail Modal -->
  <!-- Add Staff Modal -->
  <div id="add_Staff" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Staff</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="profile-img-wrap edit-img">
                  <div>
                    <img id="add_staff_image" class="inline-block" src="assets/img/profiles/avatar-02.jpg" alt="user" />
                  </div>
                  <div class="fileupload btn">
                    <span class="btn-text">edit</span>
                    <input file-change="handleFileChange" class="upload" type="file" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Staff ID <span class="text-danger">*</span></label>
                  <input ng-model="employeeForm.id" class="form-control" readonly type="text" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Full Name <span class="text-danger">*</span></label>
                  <input ng-model="employeeForm.fullName" class="form-control" type="text" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Username <span class="text-danger">*</span></label>
                  <input ng-model="employeeForm.username" class="form-control" type="text" />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Password</label>
                  <input ng-model="employeeForm.password" class="form-control" type="password" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Confirm Password</label>
                  <input ng-model="employeeForm.rePassword" class="form-control" type="password" />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Email <span class="text-danger">*</span></label>
                  <input ng-model="employeeForm.email" class="form-control" type="email" />
                </div>
              </div>
            </div>
            <div class="submit-section">
              <button ng-click="submitAdd()" class="btn btn-primary submit-btn">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Add Staff Modal -->

  <!-- Edit Staff Modal -->
  <div id="edit_Staff" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Staff</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="profile-img-wrap edit-img">
                  <img id="update_staff_image" class="inline-block" src="assets/img/profiles/avatar-02.jpg"
                    alt="user" />
                  <div class="fileupload btn">
                    <span class="btn-text">edit</span>
                    <input file-change="handleUpdateImage" class="upload" type="file" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Staff ID <span class="text-danger">*</span></label>
                  <input ng-model="employeeForm.id" class="form-control" readonly type="text" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Full Name <span class="text-danger">*</span></label>
                  <input ng-model="employeeForm.fullName" class="form-control" type="text" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Username <span class="text-danger">*</span></label>
                  <input ng-model="employeeForm.username" class="form-control" type="text" />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Password</label>
                  <input ng-model="employeeForm.password" class="form-control" type="password" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Confirm Password</label>
                  <input ng-model="employeeForm.rePassword" class="form-control" type="password" />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-form-label">Email <span class="text-danger">*</span></label>
                  <input ng-model="employeeForm.email" class="form-control" type="email" />
                </div>
              </div>
            </div>
            <div class="submit-section">
              <button ng-click="submitEdit()" class="btn btn-primary submit-btn">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Edit Staff Modal -->

  <!-- Delete Staff Modal -->
  <div class="modal custom-modal fade" id="delete_Staff" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete Staff</h3>
            <p>Are you sure want to delete?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
              </div>
              <div class="col-6">
                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Delete Employee Modal -->
</div>
<!-- /Page Wrapper -->