<!-- Datetimepicker CSS -->
<link rel="stylesheet" href="/assets/plugin/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/plugin/dropify/css/dropify.min.css">

<!-- Global stylesheets -->
<link href="/assets/assets2/assets/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
<link href="/assets/assets2/assets/css/components.min.css" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
<!-- Core JS files -->
<script src="/assets/assets2/assets/global_assets/js/main/jquery.min.js"></script>
<script src="/assets/assets2/assets/global_assets/js/main/bootstrap.bundle.min.js"></script>
<script src="/assets/assets2/assets/global_assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->

<script src="/assets/assets2/assets/global_assets/js/plugins/uploaders/dropzone.min.js"></script>

<script src="/assets/assets2/assets/js/app.js"></script>
<script src="/assets/assets2/assets/global_assets/js/demo_pages/uploader_dropzone.js"></script>


<link rel="stylesheet" href="/assets/assets2/assets/css/bootstrap_limitless.min.css" rel="stylesheet"
    type="text/css">
<link rel="stylesheet" href="/assets/assets2/assets/css/components.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/assets/assets2/assets/css/colors.min.css" rel="stylesheet" type="text/css">


<script src="/assets/assets2/assets/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
<script src="/assets/assets2/assets/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/assets/assets2/assets/global_assets/js/demo_pages/editor_summernote.js"></script>

<script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="/assets/plugin/dropify/js/dropify.min.js"></script>

<script src="/assets/bundles/mainscripts.bundle.js"></script>
<script src="/assets/js/forms/dropify.js"></script>
