<div class="wrap-container" ng-controller="ProfileController">
	<div class="image-bg-body"></div>
	<main class="main">
		<div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">
					Tài khoản<span>Của tôi</span>
				</h1>
			</div>
			<!-- End .container -->
		</div>
		<!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item active" aria-current="page">Tài khoản của tôi</li>
				</ol>
			</div>
			<!-- End .container -->
		</nav>
		<!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="dashboard">
				<div class="container">
					<div class="row">
						<aside class="col-md-4 col-lg-3">
							<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="tab-dashboard-link"
										data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
										aria-selected="true">Thông tin của tôi</a></li>
								<li class="nav-item"><a class="nav-link" id="tab-orders-link" data-toggle="tab"
										href="#tab-orders" role="tab" aria-controls="tab-orders"
										aria-selected="false">Đơn hàng</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="#" ng-click="logout()">Đăng xuất</a></li>
							</ul>
						</aside>
						<!-- End .col-lg-3 -->

						<div class="col-md-8 col-lg-9">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
									aria-labelledby="tab-dashboard-link">
									<form>
										<div class="text-center mb-4">
											<div class="avatar-wrapper">
												<img class="profile-pic"
													src="https://drive.google.com/uc?id={{account.photo ? account.photo : '1k7mZ306aaQltWZVJBe-zbXizg2NmAogx'}}"
													alt="Avatar" />
												<div class="upload-button">
													<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
												</div>
												<input class="file-upload" type="file" multiple id="fileInput"
													accept="image/*" />
											</div>

											<h5 style="margin-bottom: 1rem; font-weight: 900; font-size: 2.9rem;">
												<strong id="AccountID">{{account.username}}</strong>
											</h5>
											<p class="text-muted" style="font-size: 1.8rem;">
												<i>#{{account.role}}</i>
											</p>
										</div>

										<h4>THÔNG TIN TÀI KHOẢN</h4>

										<div class="row">
											<div class="col-sm-6">
												<label>Họ và tên *</label> <input type="text"
													ng-model="account.fullname" class="form-control" required>
											</div>
											<!-- End .col-sm-6 -->

											<div class="col-sm-6">
												<label>Email *</label> <input type="email" ng-model="account.email"
													class="form-control" required>
											</div>
											<!-- End .col-sm-6 -->
										</div>
										<!-- End .row -->
										<div class="row" ng-repeat="(key, location) in locations">
											<div class="col-sm-8">
												<label>Địa chỉ {{location.type}} * {{location.addressDefault ? "(Địa chỉ
													nhận hàng)" : ""}}</label> <input type="text"
													ng-model="location.address" class="form-control" required readonly>
											</div>
											<div class="col-sm-3">
												<label>Số điện thoại nhận hàng {{key + 1}}</label> <input type="text"
													ng-model="location.phone" class="form-control" required readonly>
											</div>
											<div class="col-sm-1 d-flex flex-column justify-content-center text-center">
												<i class="fas fa-edit" style="font-size: 1.7em; padding-top: 0.8em; cursor: pointer;"></i>
											</div>

										</div>
										<div class="d-flex mt-1" ng-if="locations.length < 2">
											<button type="button" class="btn btn-outline-primary-2" style="height: 40px;">
												<span>THÊM ĐỊA CHỈ</span> <i class="fa-sharp fa-light fa-plus fa-xl"></i>
											</button>
										</div>
										<div class="d-flex mt-2 flex-row-reverse">
											<button type="button" class="btn btn-outline-primary-2">
												<span>LƯU THAY ĐỔI</span> <i class="icon-long-arrow-right"></i>
											</button>
										</div>
									</form>

									<h4 class="mt-2 mb-2">ĐỔI MẬT KHẨU</h4>
									<form>
										<div class="row">
											<div class="col">
												<label>Mật khẩu hiện tại *</label> <input type="password" readonly
													ng-model="form.password" class="form-control">
											</div>
											<!-- End .col-sm-6 -->
										</div>
										<div class="row">
											<div class="col-sm-6">
												<label>Mật khẩu mới *</label> <input type="password" ng-model="newPass"
													class="form-control">
											</div>
											<!-- End .col-sm-6 -->
											<div class="col-sm-6">
												<label>Xác nhận mật khẩu mới *</label> <input type="password"
													ng-model="confirmNewPass" class="form-control mb-2">
											</div>
											<!-- End .col-sm-6 -->
										</div>

										<div class="d-flex flex-row-reverse">
											<button type="submit"
												th:attr="ng-click='update(\''+${#authentication.name}+'\')'"
												class="btn btn-outline-primary-2">
												<span>LƯU THAY ĐỔI</span> <i class="icon-long-arrow-right"></i>
											</button>
											<h4 class="text-success ml-5 mt-1">{{messageSuccess}}</h4>
											<h4 class="text-danger ml-5 mt-1">{{messageFailed}}</h4>
										</div>
									</form>
								</div>
								<!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-orders" role="tabpanel"
									aria-labelledby="tab-orders-link">
									<div th:if="${user.orders.empty}">
										<p>No order has been made yet.</p>
										<a href="category.html" class="btn btn-outline-primary-2"><span>GO
												SHOP</span><i class="icon-long-arrow-right"></i></a>
									</div>
									<table class="table table-bordered text-center" th:if="!${user.orders.empty}">
										<caption
											style="caption-side: top; text-align: center; font-size: 3rem; font-weight: 800;">
											ORDERS</caption>
										<thead>
											<tr>
												<th scope="col">CreateDate</th>
												<th scope="col">Address</th>
												<th scope="col">Email</th>
												<th scope="col">Phone</th>
												<th scope="col">Status</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order, state:${user.orders}" th:object="${order}">
												<td th:text="*{createDate}">2022-02-01</td>
												<td th:text="*{address}">12 Nguyễn Du, Quận 1, TP. HCM</td>
												<td th:text="*{email}">nguyenvana@gmail.com</td>
												<td th:text="*{phone}">0123456789</td>
												<td th:if="*{status} == 'Đã hủy'"><i class="fa-solid fa-xmark"
														style="color: #ea1a1a;"></i></td>
												<td th:if="*{status} == 'Đã hoàn thành'"><i class="fa-solid fa-check"
														style="color: #00c217;"></i></td>
												<td th:if="*{status} == 'Chờ xử lý'"><i class="fa-solid fa-spinner"
														style="color: #ffcc14;"></i></td>
												<td><a class="btn btn-outline-primary-2"
														th:attr="ng-click='showModal(\''+*{id}+'\')'"
														style="min-width: 30px; border-radius: 10%; cursor: pointer; padding: 0.55rem 1rem;">Details</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- .End .tab-pane -->

							</div>
						</div>
						<!-- End .col-lg-9 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .dashboard -->
		</div>
		<!-- End .page-content -->

		<!-- Modal Detail order-->
		<div id="modalDetailOrder" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 70%;">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel"
							style="caption-side: top; text-align: center; font-size: 3rem; font-weight: 800;">ORDER
							DETAILS</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"><i class="icon-close"></i></span>
						</button>
					</div>
					<div class="modal-body">
						<table class="table table-bordered text-center mt-3" id="tableOrderDetail"
							th:if="user.orders.empty">
							<thead>
								<tr>
									<th scope="col">Poster</th>
									<th scope="col">Name</th>
									<th scope="col">Category</th>
									<th scope="col">Details</th>
									<th scope="col">Quantity</th>
									<th scope="col">Price</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in orderDetail">
									<td style="width: 100px; padding: 0px;"><img alt=""
											src="/assets/images/products/single/masonry/{{item.product.poster}}"
											style="padding: 2rem;"></td>
									<td>{{item.product.name}}</td>
									<td>{{item.product.category.name}}</td>
									<td>{{item.product.details}}</td>
									<td>1</td>
									<td>{{formatCurrency(item.price)}} VNĐ</td>
								</tr>
							</tbody>
						</table>
						<h4 class="d-flex flex-row-reverse mb-3" style="margin-right: 2rem;">Total Price:
							{{formatCurrency(totalPrice)}} VNĐ</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>